main {
  .header-details {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    position: relative;
    margin-bottom: 50px;
  }
  .edit-pokemon {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    width: 100%;
  }
  .btns {
    display: flex;
    flex-direction: column;
  }
  .pokemon_image {
    position: absolute;
    right: 30%;
    transform: scale(2);
    animation: MoveUpDown 0.5s linear infinite;
  }

  .return-arrow {
    margin-right: 30%;
  }

  @keyframes MoveUpDown {
    0%,
    100% {
      bottom: 0;
    }
    50% {
      bottom: 7px;
    }
  }
}
