.identity {
  border-top: 1px solid white;
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 1rem;
  &-dark {
    border-top: 1px solid white;
  }
  &-light {
    border-top: 1px solid black;
  }
}
.identity-item {
  display: flex;
  position: relative;
  padding: 1em 2em;
  width: 100%;
  text-align: left;
  overflow: hidden;

  &-dark {
    box-shadow: var(--box-shadow);
    background: rgba(255, 255, 255, 0.1);
  }
  &-light {
    box-shadow: var(--box-shadow);
  }
}
.identity-item .key {
}
.identity-item .value {
  position: absolute;
  left: 50%;
}
