.identity {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid white;
  padding: 1em 0;
}
.identity-item {
  display: flex;
  position: relative;
  padding: 1em 2em;
  margin-bottom: 1rem;
  max-width: 50%;
  background: #ffffff34;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.445);
}
.identity-item .key {
}
.identity-item .value {
  position: absolute;
  left: 50%;
}
