.identity {
  border-top: 1px solid white;
  padding: 2em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  row-gap: 1rem;
}
.identity-item {
  display: flex;
  position: relative;
  padding: 1em 2em;
  width: 100%;
  text-align: left;
  overflow: hidden;
  box-shadow: var(--box-shadow);
}

.identity-item .value {
  position: absolute;
  left: 50%;
}

.theme {
  &-dark {
    .identity {
      border-top: 1px solid white;
    }
    .identity-item {
      background: rgba(255, 255, 255, 0.1);
    }
  }
  &-light {
    .identity {
      border-top: 1px solid black;
    }
  }
}
